# Any private crt and keys #
############################
*.crt
*.key
*~
\#*

# OS Specific #
###############
Thumbs.db
.DS_Store
.vscode

# Logs #
########
*.log
/.vs

# Misc Dir #
############
.apc/
ac-notes
ama-metrics-settings-configmap-backup.yaml
