# Any private crt and keys #
############################
*.crt
*.key
*.jwt
*~
\#*

# OS Specific #
###############
Thumbs.db
.DS_Store
.vscode

# Logs #
########
*.log
/.vs

# Misc Dir #
############
.apc/

#Kubernetes-ingress#
####################
kubernetes-ingress

n4a-configs-staging/

